@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-size: 100%;
  font-family: "Barlow", sans-serif;
}

body h1,
body h2,
body h4 {
  font-family: "Fraunces", serif;
}

.hero {
  background-image: url("./images/mobile/image-header.jpg");
  background-size: contain;
  height: 29.9rem;
  width: 100%;
  position: relative;
}

.hero .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 0.75rem;
}

.hero .hero-text h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  line-height: 2.75rem;
  letter-spacing: 0.4rem;
}

.hero .hero-text img {
  margin-top: 2.5rem;
}

#navbarNav {
  background-color: #fff;
  text-align: center;
  z-index: 9;
  padding: 1.5rem 0;
  margin: 2rem 0.5rem 0 0.5rem;
  position: relative;
}

#navbarNav:after {
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  border-bottom: 1.5rem solid #fff;
  border-left: 1.5rem solid transparent;
  position: absolute;
  bottom: 100%;
  right: 0;
}

#navbarNav .nav-item:nth-of-type(2) {
  margin: 1rem 0;
}

#navbarNav .nav-item a {
  color: #818498;
  font-weight: 600;
}

#navbarNav .nav-item button {
  border: none;
  margin: 1rem 0;
  background-color: #fad400;
  font-family: "Fraunces", serif;
  font-size: 0.75rem;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

#navbarNav .nav-item button a {
  color: #5a636c;
}

.transform-brand,
.stand-out {
  padding: 3.5rem 1.5rem;
  text-align: center;
}

.transform-brand h2,
.stand-out h2 {
  font-size: 1.75rem;
  color: #23303e;
  font-weight: 900;
}

.transform-brand p,
.stand-out p {
  color: #818498;
  margin: 1.75rem 0;
  line-height: 1.6rem;
}

.transform-brand a,
.stand-out a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.85rem;
  color: #23303e;
  position: relative;
}

.transform-brand a:hover::after,
.stand-out a:hover::after {
  content: " ";
  width: 110%;
  height: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  right: -3.5%;
  bottom: -17%;
  z-index: -1;
}

.transform-brand a:after,
.stand-out a:after {
  content: " ";
  width: 110%;
  height: 0.5rem;
  border-radius: 0.5rem;
  position: absolute;
  right: -3.5%;
  bottom: -17%;
  z-index: -1;
}

.transform-brand a:after {
  background-color: rgba(250, 212, 0, 0.204);
}

.transform-brand a:hover::after {
  background-color: #fad400;
}

.stand-out a:after {
  background-color: rgba(254, 121, 103, 0.294);
}

.stand-out a:hover::after {
  background-color: #fe7867;
}

.cherry,
.orange {
  position: relative;
}

.cherry .graphic-design,
.cherry .photography,
.orange .graphic-design,
.orange .photography {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -12%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #25564b;
  padding: 1.15rem;
}

.cherry .graphic-design h2,
.cherry .photography h2,
.orange .graphic-design h2,
.orange .photography h2 {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.cherry .graphic-design p,
.cherry .photography p,
.orange .graphic-design p,
.orange .photography p {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.testimonials {
  padding: 1rem;
}

.testimonials .container {
  margin: 2.5rem 0;
  padding: 0 0.25rem;
}

.testimonials h2 {
  text-align: center;
  margin: 2.5rem 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
  color: #a7abae;
}

.testimonials .testimonial {
  text-align: center;
  margin: 4rem 0;
}

.testimonials .testimonial img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.testimonials .testimonial p {
  margin: 2rem 0;
  color: #818498;
  line-height: 1.75rem;
}

.testimonials .testimonial h4 {
  font-size: 1rem;
}

.testimonials .testimonial h6 {
  color: #a7abae;
  font-size: 0.75rem;
}

.logo {
  -webkit-filter: brightness(0) saturate(100%) invert(38%) sepia(8%) saturate(2697%) hue-rotate(116deg) brightness(90%) contrast(81%);
          filter: brightness(0) saturate(100%) invert(38%) sepia(8%) saturate(2697%) hue-rotate(116deg) brightness(90%) contrast(81%);
  text-align: center;
  padding: 3.5rem 0 0 0;
}

.logo img {
  width: 9.5rem;
}

.footer {
  background-color: #99d9c9;
  color: #25564b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 0.5rem;
}

.footer .links div {
  color: #458c7e;
  cursor: pointer;
}

.footer .links div:hover {
  color: #fff;
}

.footer .social-medias {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0;
  cursor: pointer;
}

.footer .social-medias img:hover {
  -webkit-filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(284deg) brightness(104%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(98%) sepia(2%) saturate(0%) hue-rotate(284deg) brightness(104%) contrast(100%);
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.gallery img {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  .hero .navbar-brand img {
    width: 9rem;
  }
  .hero nav {
    padding-top: 2rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero .hero-text {
    padding-bottom: 8rem;
  }
  .hero .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  #navbarNav {
    background-color: #3ebfff;
    text-align: center;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #navbarNav ul {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #navbarNav:after {
    display: none;
  }
  #navbarNav .nav-item:nth-of-type(2) {
    margin: 0;
  }
  #navbarNav .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #navbarNav .nav-item a {
    color: #fff;
  }
  #navbarNav .nav-item button {
    margin: 0;
    background-color: #fff;
    font-size: 0.75rem;
    padding: 0.5rem 1.25rem;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .wrapper .egg {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .wrapper .egg img {
    content: url(./images/desktop/image-transform.jpg);
  }
  .wrapper .transform-brand,
  .wrapper .stand-out {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: left;
  }
  .wrapper .transform-brand h2,
  .wrapper .stand-out h2 {
    font-size: 2.25rem;
  }
  .wrapper .transform-brand {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    padding-left: 8rem;
    padding-right: 6rem;
  }
  .wrapper .stand-out {
    padding-right: 8rem;
    padding-left: 6rem;
  }
  .wrapper .cherry div,
  .wrapper .orange div {
    width: 50%;
    padding: 0;
    margin-bottom: 2rem;
  }
  .wrapper .cherry div h2,
  .wrapper .orange div h2 {
    font-size: 1.5rem;
  }
  .wrapper .pink-cup img {
    content: url(./images/desktop/image-stand-out.jpg);
  }
  .wrapper .cherry img {
    content: url(./images/desktop/image-graphic-design.jpg);
  }
  .wrapper .orange img {
    content: url(./images/desktop/image-photography.jpg);
  }
  .testimonials {
    padding: 8.5rem;
  }
  .testimonials h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  .testimonials .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
  }
  .testimonials .container .testimonial {
    padding: 0 0.75rem;
    margin-bottom: 0;
  }
  .testimonials .container .testimonial p {
    margin: 4rem 0;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery #gallery-milk {
    content: url(./images/desktop/image-gallery-milkbottles.jpg);
  }
  .gallery #gallery-orange {
    content: url(./images/desktop/image-gallery-orange.jpg);
  }
  .gallery #gallery-cone {
    content: url(./images/desktop/image-gallery-cone.jpg);
  }
  .gallery #gallery-sugar {
    content: url(./images/desktop/image-gallery-sugarcubes.jpg);
  }
  .footer .links {
    width: 25%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .social-medias {
    width: inherit;
  }
  .footer .social-medias img {
    margin: 0 0.75rem;
  }
}
